* {
    padding: 0;
    margin: 0;
}

#hathieuung {
    position: fixed;
    inset: 0;
    z-index: 1;
    pointer-events: none;
}

#tatca {
    border: #000000 solid;
}

#tieude {
    background-color: rgb(152, 203, 203);
   
}

#tieude h1 {
    font-size: 3vw;
    font-family: 'Times New Roman', Times, serif;
}

#noidungtieude-1 {
    color: rgb(10, 25, 34);
}

#noidungtieude-2 {
    color:  #154279;
    text-align: center;
}

#noidungtieude-3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2vw;
    text-align: end;
    padding-right: 4vw;
    color: #1b262c;
}

#noidung {
    background-color: rgb(213, 232, 232);
    height: 70vh;
    display: flex;
    justify-content: center; 
    gap: 10%;          
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;   
}

#tongket {
    background-color: rgb(196, 255, 255);
}

#tongket p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2vw;
    text-align: center;
}

#noidung a img {
    margin-top: 10vw;
}
#noidung h3 {
    margin-top: 2vw;
}



#thongtin img {
    width: 20vw;
    height: auto;
    transition: 0.2s ease;
}

#danhsachthanhvien img {
    width: 20vw;
    height: auto;
    transition: 0.2s ease;

}

#thuvien img {
    width: 20vw;
    height: auto;
    transition: 0.2s ease;  
}

#thongtin img:hover,
#danhsachthanhvien img:hover,
#thuvien img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 12px rgba(0,0,0,0.5);
}

@media (max-width: 500px) {
    * {
        padding: 0;
        margin: 0;
    }

    #noidung {
        display: flex;
        flex-direction: column;
        gap: 5%;   
    }

    #thongtin img {
    width: 50vw;
    height: auto;
    }

    #danhsachthanhvien img {
        width: 50vw;
        height: auto;

    }

    #thuvien img {
        width: 50vw;
        height: auto;
    }
    #noidung {
        height: 120vh;
    }
    #tongket p {
        font-size: 4vw;
    }

    #tieude {
    background-color: rgb(152, 203, 203);
   
    }

    #tieude h1 {
        font-size: 6vw;
        font-family: 'Times New Roman', Times, serif;
    }
    #noidungtieude-3 {
        font-size: 4vw;
    }
}

@media (hover: none) {

}
