body {
    background-color: antiquewhite;
}

#tatca{
    width: 90%;
    margin: auto;
}

#thongtintruong, #thongtinlop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

#thongtinlop {
    margin-top: 3vw ;
}

#thongtintruong p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2vw;
    align-items: start;
}

#thongtintruong img {
    height: 50vh;
    width: auto;
}

#thongtintruong a {
    color: black;
    text-decoration: none ;
}

#thongtintruong a:hover {
    color: rgb(225, 4, 4);
}

#anhquayve {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 40px;
    height: auto;
    transition: 0.2s ease;
}

#anhquayve:hover {
    transform: scale(1.1);
    box-shadow: 0 0 12px rgba(0,0,0,0.4);
}

#thongtinlop p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2vw;
}

#thongtinlop img {
    height: 50vh;
    width: auto;
}
